<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />


<h1>Modulo Administrativo</h1>

<h2>Seleccione una opcion</h2>

<button type="button" onclick="location.href='@Url.Action("ModuloGestionUsuarios")'">Abrir Modulo Gestion Usuarios</button>
<button type="button" onclick="location.href='@Url.Action("ModuloGestionConcepto")'">Abrir Modulo Gestion Concepto de Pago</button>
